# Add here the pip packages you would like to install on this virtual environment / kernel
pip
ipykernel
numpy
scikit-learn
matplotlib
pandas
seaborn
scikit-learn
shap
fgclustering
ipython
jupyter
jupyterlab
notebook
imblearn